.header,
.a,
.b,
.c,
.d,
.e {
    background-color: rgb(235, 150, 119);
    border-color: black;
    margin: 5px;
}

.header {
    grid-area: header;
}

.a {
    grid-area: a;
}

.b {
    display: none;
    grid-area: b;
}

.c {
    grid-area: c;
}

.d {
    grid-area: d;
}

.e {
    grid-area: e;
}

.linea2 {
    display: grid;
    grid-area: linea2;
    grid-template-areas: "a a a a";
}

.footer {
    grid-area: footer;
    text-align: center;
}

.container-flex {
    display: grid;
    text-align: center;
    grid-template-rows: 1fr 4fr 1fr 1fr 2fr 1fr;
    grid-template-areas: "header header header" "linea2 linea2 linea2 " "c d e" " footer footer footer";
}

@media only screen and (min-width: 600px) {
    .b {
        display: inherit;
        grid-area: b;
        background-color: lawngreen;
    }
    .a {
        background-color: red;
    }
    .linea2 {
        grid-area: linea2;
        display: grid;
        grid-template-areas: "a a a b";
    }
    .content {
        display: grid;
        text-align: center;
        grid-template-rows: 1fr 2fr 1fr 1fr;
        grid-template-areas: "header header header" "linea2 linea2 linea2" "c d e" "footer footer footer";
    }
}