.ref {
    text-align: center;
    font-size: 10px;
    color: #796e71;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0px;
}

.aNav {
    color: rgb(162, 47, 219);
    font-size: medium;
    text-decoration: none;
}

.register {
    font-weight: bold;
    color: rgb(19, 80, 116);
    font-size: 1.2em;
    text-decoration: none;
    float: right;
}

.terminos {
    background-color: black;
    padding: 1px;
}

.tituloInd {
    text-align: center;
    color: rgba(14, 238, 51, 0.671);
    background-color: grey;
    margin: 0px;
    text-decoration: none;
}

.tituloInd:hover {
    background-color: #661414;
}

.navegador {
    float: right;
    display: contents;
}

.ulbotonera .libotonera {
    float: right;
    padding: 10px;
    text-decoration: none;
}

.ulbotonera {
    display: flow-root;
    list-style-type: none;
    background-color: rgb(252, 126, 126);
}

.explicacion .ulInd {
    list-style-type: none;
    padding-right: 0%;
    text-align: center;
    color: rgb(11, 238, 113);
    background-color: cornflowerblue;
    margin: 0px;
}

.pTitle {
    color: rgb(18, 105, 25);
}

.container-flex {
    display: flex;
    /* flex-flow: row wrap; */
    flex-wrap: wrap;
    align-content: space-between;
    background-color: chocolate;
    padding: 10px;
    border: 2px solid black;
}

.container-flex .test-flex {
    background-color: bisque;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    border: 2px solid black;
}